*{
    margin: 0;
    padding: 0;
    font-size: 1.0em;
}

body{
    height: 100vh;

}


#head-image{
    min-width: 98.8vw;
    height: 25vw;
   
    margin: 0.2vw 0.4vw;
}

#mainframe{
    background-color: white;
    height: 100vh;
}

#balances-frame{
    background-color: darkgreen;
    display: flex;
    justify-content: space-between;
    margin: 0.9em 1.3em 0 1.3em;
    /* height: auto; */
  
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 12vw;
    width: auto;
}


#balances-frame1{
   margin-top: 1vw;
   margin-bottom: 0.5vw;
   margin-left: 5vw;
  
    /* background-color: aqua; */
    color: black;
    display: flex;
   
}

#balances-frame1 a{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;

}

#withdraw-deposit-button{
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    margin-right: 2.5vw;
     /* background-color: aqua; */
     color: black;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding-right: 3vw;

}

#withdraw{
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    background-color: darkgreen;
    color: white;
    border: 0.2px solid white;
}

#withdraw{
    cursor: pointer;
}
#withdraw:hover{
    background-color: green;
}
#withdraw:active{
    background-color: rgba(255, 166, 0, 0.808);
}

#deposit{
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    height: 4vw;
    width: 15vw;
    font-size: 2vw;
    margin-bottom: 2px;
    background-color: white;
    color: green;
    border: none;
    font-weight: bold;
}

#deposit:hover{
    background-color: rgb(173, 216, 230, 0.6);
    cursor: pointer;
}

#balances-frame1 a p{
    font-size: 3.2vw;
}

#balances-frame1 a h3{
    font-size: 3.5vw;
   padding-bottom: 2px;
   padding-left: 3em;
   font-weight: bold;
}

#social-icons{
    margin: 3vw 8vw 0, 8vw;
    margin: 3vw 8vw;
    background-color: rgba(210, 105, 30, 0.493);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#image-icons{
    margin-top: 1.5vw;
    display: flex;
    width: auto;
    justify-content: space-around;
    
}
.img-icons{
    width: 8vw;
    height: 8vw;
}
#image-names{
    margin: 1vw ;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color: black;
    
}

#notifications1{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    background-color: whitesmoke;
    margin: 1.6em 1.3em 0 1.3em;
    border-radius: 18px;
    height: 18vw;
   
}

#notifications{
    margin: 0 0 0 1.3em;
    width: 21vw;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
}

#messages{
    display: flex;
    justify-content: center;
    align-self: center;


}


/* #new-image{
    width: 10vw;
    height: 10vw;
    margin: 0.9em 1.3em 0.9em 1.3em;
    
} */
@keyframes scaleImage {
    0% {
        width: 10vw;
        height: 10vw;
    }
    50% {
        width: 15vw; /* Increase size to 15vw at 50% of the animation */
        height: 15vw;
    }
    100% {
        width: 10vw; /* Decrease size back to 10vw at the end of the animation */
        height: 10vw;
    }
}

#new-image {
    margin: 0.9em 1.3em 0.9em 1.3em;
    animation: scaleImage 2.5s infinite alternate;
    /*4sduration,alternateforsmoothtransition*/-webkit-animation: scaleImage 3s infinite alternate;
    -webkit-animation: scaleImage 2.5s infinite alternate;
}

#welfare-products h2{
    margin: 1.8em 1em;
    font-size: 5vw;
}

#advanced-oil-tier{
    background-color: rgba(127, 255, 212, 0.829);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 45vw;
    margin: 1.6em 1.3em 0 1.3em;
}

#advanced-oil-platform{
    background-color: beige;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    height: 45vw;
    margin: 1.6em 1.3em 0 1.3em;
}

#oil-image{
    width: 13vw;
    height: 13vw;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-left: 1vw;
}

#oil-image-details{
    display: flex;
    margin: 0 0.3em 1em 0.7em;
    padding-top: 1em;

}

#oil-image-details-payments{
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
    height: 15vw;
    justify-content: space-evenly;
    margin: 0 10vw;
}

#money{
    display: flex;
    justify-content: space-around;
}
#money-days{
    display: flex;
    justify-content: space-around;

}
#price-amount{
    height: 4vw;
    display: flex;
    justify-content: space-between;
    margin: 2vw 4vw 0 4vw;
    align-items: center;
    
}

#tier-days{
   
    margin-left: 1.5em;
}

#tier-days h3{
    font-size: 4vw;
}

#tier-days p{
    font-size: 3.2vw;
    color: rgba(47, 79, 79, 0.836);
}
#p1{
   margin-top: -0.25em;
}

#tier-days p span{
    font-size: 3.5vw;
    color: darkslategrey;
    font-weight: bold;
}

#money{
   margin-top: 2vw;
   font-size: 2.3vw;
   font-weight: bold;
   color: green;
   
}

#money-days{
    margin-top: -2vw;
    font-size: 2.0vw;
}

#price-amount{
    /* background-color: blue; */
    margin-top: 2vw;
    margin-bottom: 1vw;

}

#price{
    font-size: 2vw;
    align-items: center;
}
#price span{
    font-size: 2.3vw;
    color: red;

}

#price-amount button{
    background-color: white;
    height: 3.3vw;
    width: 9vw;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    border: none;
    margin-right: 0vw;
    font-size: 1.5vw;
}

#price-amount button:hover{
    background-color: rgba(250, 235, 215, 0.719);
    cursor: pointer;
}
#price-amount button:active{
    background-color: rgba(70, 41, 5, 0.589);
   
}

@media (min-width:480px) {
    #balances-frame{
     
     background-color: brown;
        height: 10%;

   
    }
    #withdraw-deposit-button{
        margin-top: 2vw;
        margin-bottom: 3vw;
         

    }
    #balances-frame1{
        margin-top: 2vw;
        margin-bottom: 3vw;

    }
    #withdraw{
        height: 4.5vw;
    }
    #deposit{
        height: 4.5vw;
    }
}