nav {
    height: 30px;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    justify-content: center;
   
   
}
nav #new-image-names{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
   

}
nav #new-image-names a{
    text-decoration: none;
    color: black;
    
}

nav #new-image-names a:focus,
nav #new-image-names a:hover{
    color: aquamarine;
   
    cursor: pointer;
}


