*{
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-size: 3em;
}

#main-frame {
    /* border: 2px solid magenta; */
    margin: 0.1em 0.3em;
    /* padding: 0 1em; */



}

#head {
    /* border: 1px solid darkorange; */
    display: flex;
    flex-direction: column;

}
nav{
    background-color: burlywood;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
    border-radius: 0.7em;
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    -ms-border-radius: 0.7em;
    -o-border-radius: 0.7em;
    margin-bottom: 0.4em;
    padding-right: 20px;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
 
}

nav li{
    height: 50px;
    font-size: 2vw;
}

nav a{
    height: 100%;
    padding: 0 1vw;
    text-decoration: none;
}

#image {
    width: 90%;
    height: 25vw;

}

h1 {
    text-align: center;
    font-size: 3vw;
    color: firebrick;
}

p {
    margin: 0 1em;
    /* padding: 1em 0; */
    font-size: 1.5vw;
}

#mainone {
    /* border: 1px solid blue; */
    /* margin: 1em 0; */
    display: flex;


}

#main-div1 {
    width: 50%;

    background-color: green;

}

#main-div2 {
    width: 80%;

    background-color: aqua;
}

#main-div3 {
    background-color: darkslategray;
    width: 20%;
    text-align: center;

}

h3 {
    color: orangered;
    text-align: center;
    font-size: 2vw;

}

#footer {
    /* margin: 1em 0; */
    /* border: 1px solid green; */
}

span {
    color: greenyellow;
}

@media (max-width:600px) {

    #mainone {
        display: block;
    }


    #main-div1, #main-div2, #main-div3 {
        width: 90%;
        margin: 0 0.5em;

    }

}

/* @media  (max-width:600px){
   
   
    #main-div1, #main-div2, #main-div3{
        width: 90%;
        margin: 0 0.5em; 
        
    }
    
}  */